<div class="ibox">
  <div class="ibox-body">
    <h2 class="no-margin">Admin Users</h2><br>
    <a href><h5 class="text-primary">Admin Users </a><small style="color: black">Created on 10th of December 2023 by Andy</small></h5><br>
    <h6 class= "font-light">Details<br><br> &nbsp;Category: Uncategorised<br><br>This is a list of all admin users in the backend</h6>     
    <%= link_to '<i class="fa fa-download" style="font-size:18px"></i>Export as CSV'.html_safe, export_csv_path, class: 'btn btn-default pull-right' %><br><br> 
  <div>
    <table class="table table-striped table-bordered table-hover" id="example-table" cellspacing="0" width="100%">
      <thead>
        <tr>
          <%= @admin_details.headers.map { |header| "<th>#{header}</th>" }.join.html_safe %>
        </tr>
      </thead>
      <tbody>
        <%= @admin_details.map { |row| "<tr>#{row.map { |_, value| "<td>#{value}</td>" }.join}</tr>" }.join.html_safe %>
      </tbody>
    </table>
  </div>
</div>
<script>
  $("#example-table").DataTable();
</script>



